body{
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:#77dd77;
}
#circle{
  position:absolute;
  transform:translate(-50%,-50%);
  height:100px;
  width:100px;
  border-radius:50%;
  border:2px dashed blue;
}
#square{
  position:absolute;
  transform:translate(-50%,-50%);
  height:100px;
  width:100px;
  border:2px solid red;
}
#square2{
  position:absolute;
  margin-left:-50px;
  margin-top:-50px;
  width: 100px;
  border: 3px solid pink;
  left:50%;
  top:50%;
  height:100px;
}
#eye{
  width:100%;
  height:100%;
  transform: rotate(45deg);
}