@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Asap, sans-serif;
}

body{
	background-color: pink;
}

header{
	background: pink;
	padding: 20px;
}

header > h1 {
	color: #25272e;
	text-align: center;

	
}
.score-board {
	margin: 20px auto;
	padding: 15px 20px;
	border: 3px solid white;
	border-radius: 4px; 
	width: 200px;
	color: white;
	font-size: 40px;
	position: relative;
	text-align:center;
	
	
}
.badge{
	background: #e2584d;
	color: white;
	font-size: 14px;
	padding:2px 10px;
	
}
#user-label {
		position:absolute;
		top:30px;
		left: -25px;
}
#computer-label{
	position:absolute;
	top: 30px;
	right: -25px;
}
.result {
	font-size: 40px;
	color: white;
}

.result > p {
	text-align: center;
	font-weight: bold;
}
.choices{
	text-align: center;
	margin: 50px 0;
}



.choice:hover{
	cursor: pointer;
	background: purple;
}

#action-message{
	text-align: center;
	color: red;
	font-weight: bold;
	font-size: 200px;
}

.choice {
	border: 4px solid blue;
	border-radius: 50px;
	display: inline-block;
	padding: 10px;
	margin: 0 20px;
	transition: all 1s ease;
	overflow: hidden;
	height: 145px;
	width: 145px;
}

.choice img{
	height: 150px;
	width: 150px;
	margin: -10px;
} 